<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Busco Equipo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset('css/aos.css')}}">
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    {% block styles %}
    {% endblock %}
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-logo">
          <a href="#"><img src="{{ asset('images/logo.png')}}" alt="Image"></a>
        </div>
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar absolute transparent" role="banner">
      <nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
        <div class="container position-relative">
          <div class="site-logo">
            <a href="/index"><img src="{{ asset('images/logo.png')}}" alt=""></a>
          </div>

          <div class="d-inline-block d-md-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a href="/index"
          {% if app.request.pathinfo == "/index" %}
          style="color:red;"
          {% endif %}
          >Inicio</a></li>
            <li class="has-children">
              <a
              {% if app.request.pathinfo == "/equipos" %}
              style="color:red;"
              {% endif %}
              >Equipos</a>
              <ul class="dropdown arrow-top">
                <li class="children">
                  <a href="/crear/equipo">Crea un equipo</a>
                </li>
                <li class="children">
                  <a href="/equipos">Unirse a un equipo</a>
                </li>
              </ul>
            </li>
            <li class="has-children">
              <a
              {% if app.request.pathinfo == "/partidos" %}
              style="color:red;"
              {% endif %}
              >Partidos</a>
              <ul class="dropdown arrow-top">
                <li class="children">
                  <a href="/partidos/permanentes">Permanentes</a>
                </li>
                <li class="children">
                  <a href="/partidos/temporales">Temporales</a>
                </li>
              </ul>
            </li>
            <li><a href="/torneos"
            {% if app.request.pathinfo == "/torneos" %}
            style="color:red;"
            {% endif %}
            >Torneos</a></li>
            <li><a href="/pistas"
            {% if app.request.pathinfo == "/pistas" %}
            style="color:red;"
            {% endif %}
            >Pistas</a></li>
            {% if app.user.email is defined %}
                  <li>
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle">
                        {% if app.user.imagen != null %}
                        <img src="/bd/{{ asset(app.user.imagen) }}" width="50px"></img>
                        {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                        {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                          {% if app.user.roles[0]=="ROLE_ADMIN" %}
                            <button class="dropdown-item" type="button"><a href="/admin" class="text-dark">Panel de administración</a></button>
                          {% endif %}
                          {# <button class="dropdown-item" type="button"><a href="/misreservas" class="text-dark">Panel</a></button> #}
                          <div class="btn-group dropright">
                            <button type="button" class="dropdown-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Panel de control
                            </button>
                            <div class="dropdown-menu">
                              <button class="dropdown-item" type="button"><a href="/mis/equipos" class="text-dark">Mis equipos</a></button>
                              <button class="dropdown-item" type="button"><a href="/mis/partidos" class="text-dark">Mis partidos</a></button>
                              <button class="dropdown-item" type="button"><a href="/mis/torneos" class="text-dark">Mis torneos</a></button>
                            </div>
                          </div>
                          <button class="dropdown-item" type="button"><a href="/perfil" class="text-dark">Editar perfil</a></button>
                          <button class="dropdown-item" type="button"><a href="/logout" class="text-danger">Cerrar sesión</a></button>
                        </div>
                      </div>
                  </li>
                  {% else %}
                  <li>
                  <a href="login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                  </a>
                  </li>
                  {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    


    {#Esto sería bloque de cuerpo, lo de arriba forma parte de base#}
    {% block body %}
    {% endblock %}
    
    <footer class="site-footer border-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">BuscoEquipo</h3>
              <p>Nuestra web se basa en fomentar el deporte, en concreto el fútbol sala. Para ello decidimos implementar un sistema para buscar equipos temporales, permanentes y torneos. Podremos ver gráficamente dónde se juega mediante mapas</p>
            </div>
            
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">

            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Síguenos</h3>

                <div>
                  <a href="https://es-es.facebook.com/" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/?lang=es" target="_blank" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="https://www.instagram.com/" target="_blank" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="https://es.linkedin.com/" target="_blank" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-5">
              <h3 class="footer-heading mb-4">Video futsal</h3>

              <div class="block-16">
                <figure>
                  <img src="{{ asset('images/street.jpg')}}" alt="Image placeholder" class="img-fluid rounded">
                  <a href="https://www.youtube.com/watch?v=f5_iwLaXn_M" class="play-button popup-vimeo"><span class="icon-play"></span></a>
                </figure>
              </div>
            </div>
          </div>
          
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            Desarrollado y diseñado por Alejandro Ibáñez Hurtado
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

    <script src="{{ asset('js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ asset('js/jquery-migrate-3.0.1.min.js')}}"></script>
    <script src="{{ asset('js/jquery-ui.js')}}"></script>
    <script src="{{ asset('js/popper.min.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('js/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('js/jquery.stellar.min.js')}}"></script>
    <script src="{{ asset('js/jquery.countdown.min.js')}}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ asset('js/aos.js')}}"></script>
    <script src="{{ asset('js/main.js')}}"></script>
    {% block scripts %}
    {% endblock %}
    
  </body>
</html>
